<script src="/public/js/board.js"></script>


<form id="search" action="/board" method="GET">
    <label for="query">Search by keyword</label>
    <input type="text" name="query" id="query">
    <input type="submit" value="Search">
    <input type="button" value="Clear Search" hidden='hidden'>
</form>
<br>

<div class="kanban_board">
    {{#each task_sections}}
    <div class="column">
        <H1 class="title">{{section_name}}</H1>
        <div class="drop-target" data-task-stage="{{task_stage}}">
            {{#each task_list}}
            <div class="tickets" id="{{_id}}" draggable="true">
                {{taskName}}<br>
                <span>{{#each tags}}
                    <button class="tag">
                        {{this}}
                    </button>
                    {{/each}}
                </span>
                <br>
                <span>Creator: {{createdBy}}</span><br>
                <span>Assigned: {{assignedTo}}</span>
                <form>
                    <input class="edit_task" type="submit" value="Edit" data-task_id="{{_id}}">
                </form>
                <form>
                    <input class="delete_task" type="submit" value="Delete" data-task_id="{{_id}}">
                </form>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>

<form id="add_task">
    <input type="submit" value="Add a Task">
</form>

<div id="task_form-area"></div>

<script src="/public/js/board_jq.js"></script>