<script type="text/javascript" src="/public/js/board.js"></script>

<div class="kanban_board">
    {{#each task_sections}}
    <div class=column id="{{section_name}}" ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">{{section_name}}</H2>
        <div class="drop-target" task-stage="{{task_stage}}">
            {{#each task_list}}
            <div class="tickets" id="{{_id}}" draggable="true" ondragstart="drag(event)" width="336" height="69">
                {{taskName}}<br>
                <span>{{#each tags}}
                    <button class="tag">
                        {{this}}
                    </button>
                    {{/each}}</span>
                <br>
                <span>Created By:{{createdBy}}</span><br>
                <span>Assigned To:{{assignedTo}}</span>
                <form action="/tasks/{{_id}}/remove" method="DELETE" id="delete_comment_{{_id}}">
                    <input type="submit" value="Delete">
                </form>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>


<form id="add_task">
    <input type="submit" value="Add a Task">
</form>

<div id="task_form-area"></div>

<script>
    let taskFormArea = $('#task_form-area');

    $("#add_task").click(function () {
        event.preventDefault();
        taskFormArea.empty()


        let requestConfig = {
            method: 'GET',
            url: '/tasks/create',
            contentType: 'application/json',
            data: JSON.stringify({
            })
        }
        $.ajax(requestConfig).then(function (responseMessage) {
            console.log(responseMessage);
            let newElement = $(responseMessage);
            let currentLink = $(this);
            let currentId = currentLink.data('id');

            taskFormArea.append(newElement);
        });
    })

    $('#Task_Submit').submit(function () {
        $('#task_form-area').hide();
    });

    $('.tickets').click(function () {
        event.preventDefault();
        taskFormArea.empty()


        let requestConfig = {
            method: 'GET',
            url: `/tasks/${this.id}/edit`,
            contentType: 'application/json',
            data: JSON.stringify({
            })
        }
        $.ajax(requestConfig).then(function (responseMessage) {
            console.log(responseMessage);
            let newElement = $(responseMessage);
            let currentLink = $(this);
            let currentId = currentLink.data('id');

            taskFormArea.append(newElement);
        });
    });
</script>