<script type="text/javascript" src="/public/js/board.js"></script>

<div class="kanban_board">
    {{#each task_sections}}
    <div class=column id="{{section_name}}" ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">{{section_name}}</H2>
        <div class="drop-target" task-stage="{{task_stage}}">
            {{#each task_list}}
            <div class="tickets" id="{{_id}}" onclick="location.href='/tasks/{{_id}}/edit';" draggable="true"
                ondragstart="drag(event)" width="336" height="69">
                {{taskName}}
                {{#each tags}}
                <button class="tag">
                    {{this}}
                </button>
                {{/each}}
                <br>
                {{createdBy}}
                <form action="/tasks/{{_id}}/comments" method="GET" id="view_comment_{{_id}}">
                    <input type="submit" value="View Comments">
                </form>
                <form action="/tasks/{{_id}}/remove" method="DELETE" id="delete_comment_{{_id}}">
                    <input type="submit" value="Delete">
                </form>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>


<form id="add_task">
    <input type="submit" value="Add a Task">
</form>

<div id="add_task-area"></div>

<script>
    let addTaskArea = $('#add_task-area');

    $("#add_task").click(function () {
        event.preventDefault();
        addTaskArea.empty()


        let requestConfig = {
            method: 'GET',
            url: '/tasks/create',
            contentType: 'application/json',
            data: JSON.stringify({
            })
        }
        $.ajax(requestConfig).then(function (responseMessage) {
            console.log(responseMessage);
            let newElement = $(responseMessage);
            let currentLink = $(this);
            let currentId = currentLink.data('id');

            addTaskArea.append(newElement);
        });
    })

    $('#Task_Submit').submit(function () {
        $('#add_task-area').hide();
    });
</script>