<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData('text', ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData('text');
        console.log(data);
        console.log(ev.dataTransfer);
        console.log(ev.target.id)
        ev.target.appendChild(document.getElementById(data));

        var output = {};
        output.ticketId = data;
        output.ticketStatus = ev.target.id;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(output),
            contentType: 'application/json',
            url: 'http://localhost:3000/endpoint',
            success: function (output) {
                console.log('success');
                console.log(JSON.stringify(output));
            }
        })
    }
</script>


<div class="kanban_board">
    <div class=column id="pending" ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">Pending</H2>
        {{#each pending_tasks}}
        <div class="tickets" id="drag1" onclick="location.href='/tasks/{{_id}}/edit';" draggable="true"
            ondragstart="drag(event)" width="336" height="69">
            {{taskName}}
            {{createdBy}}
            {{#each tags}}
            <button class="tag">
                {{this}}
            </button>
            {{/each}}
            <form action="/tasks/{{_id}}/comments" method="GET" id="view_comments">
                <input type="submit" value="View Comments">
            </form>
        </div>
        {{/each}}
    </div>
    <div class="column" id='in_progress' ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">In Progress</H2>
        {{#each in_progress_tasks}}
        <div class="tickets" id="drag" onclick="location.href='/tasks/{{_id}}/edit';" draggable="true"
            ondragstart="drag(event)" width="336" height="69">
            {{taskName}}
            {{createdBy}}
            {{#each tags}}
            <button class="tag">
                {{this}}
            </button>
            {{/each}}
            <form action="/tasks/{{_id}}/comments" method="GET" id="view_comments">
                <input type="submit" value="View Comments">
            </form>
        </div>
        {{/each}}
    </div>

    <div class="column" id="review" ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">Review</H2>
        {{#each review_tasks}}
        <div class="tickets" id="drag3" onclick="location.href='/tasks/{{_id}}/edit';" draggable="true"
            ondragstart="drag(event)" width="336" height="69">
            {{taskName}}
            {{createdBy}}
            {{#each tags}}
            <button class="tag">
                {{this}}
            </button>
            {{/each}}
            <form action="/tasks/{{_id}}/comments" method="GET" id="view_comments">
                <input type="submit" value="View Comments">
            </form>
        </div>
        {{/each}}
    </div>
    <div class="column" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">
        <H2 class="title">Done</H2>
        {{#each review_tasks}}
        <div class="tickets" id="drag4" onclick="location.href='/tasks/{{_id}}/edit';" draggable="true"
            ondragstart="drag(event)" width="336" height="69">
            {{taskName}}
            {{createdBy}}
            {{#each tags}}
            <button class="tag">
                {{this}}
            </button>
            {{/each}}
            <form action="/tasks/{{_id}}/comments" method="GET" id="view_comments">
                <input type="submit" value="View Comments">
            </form>
        </div>
        {{/each}}
    </div>
</div>

<form action="/tasks/create" method="GET" id="add_task">
    <input type="submit" value="Add a Task">
</form>