<div class="kanban_board">
    <div class="pending"> Pending
        {{#each pending_tasks}}
        <li>{{taskName}}</li>
        <form action=`/tasks/{_id}/edit` method="GET" id="edit_task">
            <input type="submit" value="Edit">
        </form>
        {{/each}}
    </div>
    <div class="in_progress"> In Progress
        {{#each in_progress_tasks}}
        <div class="task">{{taskName}}
            {{createdBy}}
            {{tags}}
            <form action=`/tasks/{_id}/edit` method="GET" id="edit_task">
                <input type="submit" value="Edit">
            </form>
        </div>
        {{/each}}
    </div>
    <div class="review"> Review
        {{#each review_tasks}}
        <li>{{taskName}}
            <form action=`/tasks/{_id}/edit` method="GET" id="edit_task">
                <input type="submit" value="Edit">
            </form>
        </li>
        {{/each}}
    </div>
    <div class="done"> Done
        {{#each done_tasks}}
        <li>{{taskName}}
            <form action=`/tasks/{_id}/edit` method="GET" id="edit_task">
                <input type="submit" value="Edit">
            </form>
        </li>
        {{/each}}
    </div>
</div>

<form action="/tasks/create" method="GET" id="add_task">
    <input type="submit" value="Add a Task">
</form>