<script type="text/javascript" src="/public/js/board.js"></script>


<form id="search" action="/board" method="GET">
    <input type="text" name="query" id="query">
    <input type="submit" value="Search">
    <input type="button" value="Clear Search" hidden='hidden'>
</form>
<br>

<div class="kanban_board">
    {{#each task_sections}}
    <div class="column" id="{{section_name}}">
        <H2 class="title">{{section_name}}</H2>
        <div class="drop-target" task-stage="{{task_stage}}">
            {{#each task_list}}
            <div class="tickets" id="{{_id}}" draggable="true" width="336" height="69">
                {{taskName}}<br>
                <span>{{#each tags}}
                    <button class="tag">
                        {{this}}
                    </button>
                    {{/each}}
                </span>
                <br>
                <span>Creator: {{createdBy}}</span><br>
                <span>Assigned: {{assignedTo}}</span>
                <form>
                    <input class="edit_task" type="submit" value="Edit" task_id="{{_id}}">
                </form>
                <form action="/tasks/{{_id}}/delete" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>

<form id="add_task">
    <input type="submit" value="Add a Task">
</form>

<div id="task_form-area"></div>

<script type="text/javascript" src="/public/js/board_jq.js"></script>