{{#if hasErrors}}
<p class="error-list">{{error}}</p>
{{/if}}
<div id='taskBar'>
    <div id='taskForm'>
        {{#if newTask}}
        <H1>Create a new Task</H1>
        {{/if}}

        <form action="{{#if newTask}}/tasks/create{{else}}/tasks/{{task._id}}/edit{{/if}}" method="POST" id="task_form">
            <label for="taskName">Task Name</label>
            <br>
            <input required='required' type="text" name="taskName" id="taskName" value="{{task.taskName}}">
            <br>
            <label for="tags">Tags <small>(To add multiple tags, seperate them with a comma)</small></label><label
                for="tags_tag"></label>
            <input type="text" name="tags" id="tags" class="tag-input" value="{{task.tags}}">
            <label for="description">Description</label>
            <br>
            <textarea required='required' type="text" name="description"
                id="description">{{task.description}}</textarea>
            <label for="assigned_to">Assigned To</label>
            <select required='required' id="assigned_to" name="assigned_to">
                <option value="nobody">Nobody</option>
                {{#each users}}
                <option {{#ifeq _id ../task.createdBy}}selected{{/ifeq}} value="{{_id}}">{{firstName}} {{lastName}}
                </option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="Submit" id="Task_Submit">
        </form>
    </div>
</div>