{{#if hasErrors}}
<p class="error-list">{{error}}</p>
{{/if}}
<div id='taskBar'>
    <div id='taskForm'>
        {{#if newTask}}
        <H1>Create a new Task</H1>
        {{/if}}

        <form action="/tasks/create" method="POST" id="add_task_form">
            <label>Task Name</label>
            <br>
            <input required type="text" name="taskName" id="taskName" value="{{task_name}}">
            <br>
            <label>Tags</label>
            <input required type="text" name="tags" id="tags" class="tag-input" value="{{tags}}">
            <label>Description</label>
            <br>
            <textarea required type="text" name="description" id="description">{{description}}</textarea>
            <label>Assigned To</label>
            <select required id="assigned_to" name="assigned_to">
                <option value="noone">No One</option>
                {{#each users}}
                <option value="{{firstName}} {{lastName}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
            <br>
            <input type="hidden" name="status" id="status" value="0">
            <input type="submit" value="Submit" id="Task_Submit">
        </form>
    </div>

    <div id='comments'>
        {{#unless newTask}}

        {{#each comments}}
        <span class='comment'>{{comment}} [by {{name}}]</span>
        {{/each}}

        <form action="/{{_id}}/comments/create" method="POST" id="add_task_form">
            <textarea required type="text" id="new_comment" placeholder="Add a comment"></textarea>
            <input type="submit" value="Add new comment">
        </form>
        {{/unless}}
    </div>
</div>